/* front page index.html CSS*/ 
.welcome-title{
    font-size: xx-large;
}
.welcome-subtitle{
    font-size: medium;
}
.date-time-title{
    font-size: x-large;
}
.date-time-subtitle{
    font-size: x-large;
}