body {
    padding: 200px 0px 0px 0px;
    z-index: 0; 
}
.zoom{
    zoom:100%;
}
/* nav bar CSS*/
.nav-item {
    font-size: x-large;
    white-space: nowrap;
    overflow: hidden;
    margin-left:10pt;
}
.nav-item a{
    color:white;
}
.bg-black{
    background-color:black;
}
.active {
    background-color:blue;
}
.navbar-brand{
    width: 100%;
}

/*footer and icon CSS*/
.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; 
}
.hope-copyright{
    padding:20px 10px 0px 0px;
}
.hope-copyright p{
    color:white;
}
.btn-social-icon{
    margin-right:5px;
    margin-left:5px;
}


/*row CSS*/
.row-header {
    margin: 0px auto;
    padding: 0px 0px; 
}
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; 
}


@media (max-width: 992px) {
    .nav-item {
        font-size: small;
    }
    .navbar-brand img{
        max-width: 100px;
        height: auto;
    }
    body {
        padding: 100px 0px 0px 0px;
        z-index: 0; 
    }
    .hope-copyright p{
        font-size: small;
        
    }
}


@media (max-width: 576px) {

    .navbar-brand {
        width: 50px;
        height: auto;
    }
    body {
        padding: 100px 0px 0px 0px;
        z-index: 0; 
    }
}

