body {
    padding: 200px 0px 0px 0px;
    z-index: 0; 
}
.zoom{
    zoom:100%;
}
/* nav bar CSS*/
.nav-item {
    font-size: x-large;
    white-space: nowrap;
    overflow: hidden;
    margin-left:10pt;
}
.nav-item a{
    color:white;
}
.bg-black{
    background-color:black;
}
.active {
    background-color:blue;
}
.navbar-brand{
    width: 100%;
}

/*footer and icon CSS*/
.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; 
}
.hope-copyright{
    padding:20px 10px 0px 0px;
}
.hope-copyright p{
    color:white;
}
.btn-social-icon{
    margin-right:5px;
    margin-left:5px;
}


/*row CSS*/
.row-header {
    margin: 0px auto;
    padding: 0px 0px; 
}
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; 
}

.nav-item {
    padding-bottom: 50px;
}

@media (max-width: 992px) {


    .nav-item {
        font-size: small;
        
    }
    .navbar-brand img{
        max-width: 100px;
        height: auto;
    }
    body {
        padding: 100px 0px 0px 0px;
        z-index: 0; 
    }
    .hope-copyright p{
        font-size: small;
        
    }
}


@media (max-width: 576px) {

    .navbar-brand {
        width: 50px;
        height: auto;
       
    }
    body {
        padding: 100px 0px 0px 0px;
        z-index: 0; 
    }
}


.navbar {
    overflow: hidden;
  }
  
  
  /* The dropdown container */
  .dropdown {
    float: left;
  }
  
  /* Dropdown button */
  .dropdown-all .dropdown-button {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    text-decoration: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    font-size: small;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  /* Show the dropdown menu on hover */
  .dropdown-all:hover .dropdown-content {
    display: block;
  }

  .dropdown-itemx{
    text-decoration: none;
  }






.vision-subtitle{

}



